services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - internal

  api:
    image: ghcr.io/nadavushka-dev/chat-backend:latest
    env_file: .env
    restart: unless-stopped
    environment:
      - PRISMA_QUERY_ENGINE_LIBRARY=/app/node_modules/.prisma/client/libquery_engine-linux-musl-openssl-3.0.x.so.node
    ports:
      - "3000:3000" # expose backend to host port 3000
    depends_on:
      - db
    networks:
      - internal
    healtcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 10s
      timeout: 5s
      retries: 3
  caddy:
    image: caddy:2-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
    networks:
      - internal # share network with api
  frontend: # NEW
    image: ghcr.io/nadavushka-dev/chat-frontend:latest
    restart: unless-stopped
    networks:
      - internal

volumes:
  caddy_data:
  postgres-data:

networks:
  internal:
